body {
  padding: 50px;
  font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: red;
  color: yellow;
}

a {
  color: #00B7FF;
}

button {
  color: yellow;
  background-color: red;
}

img {
  background-color: yellow;
  height: 100px;
  width: 100px;
}

.picture {
  background-color: yellow;
  color: red;
}